@import url(ionicons.min.css);
@import url(bootstrap.min.css);
@import url(magnific-popup.css);
@import url(flexslider.css);
@import url(animsition.min.css);
@import url(photoswipe.css);
@import url(default-skin/default-skin.css);
@import url(jquery.mCustomScrollbar.min.css);
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url("https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800");
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab:300i');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ------------------------------------- */
/* Generic styles ................... */
/* ------------------------------------- */

.parallax { 
    /* The image used */
    background-image: url("../img/color%20from%20computer%20small%20crop.jpeg");

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
} 

@media (max-device-width: 320px) {
    .parallax {
        background-attachment: scroll;
    }
}

/* Two columns side by side */
.column {
    float: left;
    width: 50%;
    margin-bottom: 16px;
    padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

.headshotEmily {
    background-image: url("../img/Headshots/emily2bw.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.headshotEmily:hover {
    background-image: url("../img/Headshots/emily2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    position:relative;
    transition:all 0.6s;
    transform:scale(1.05);
}
.headshotCaitlin {
    background-image: url("../img/Headshots/caitlinbw.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.headshotCaitlin:hover {
    background-image: url("../img/Headshots/caitlin4.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    position:relative;
    transition:all 0.6s;
    transform:scale(1.05);
}
.headshotIsabelle {
    background-image: url("../img/Headshots/isabellebw.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.headshotIsabelle:hover {
    background-image: url("../img/Headshots/isabelle2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    position:relative;
    transition:all 0.6s;
    transform:scale(1.05);
}
.headshotEmilyK {
    background-image: url("../img/Headshots/emilykbw.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.headshotEmilyK:hover {
    background-image: url("../img/Headshots/emilykaperst2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    position:relative;
    transition:all 0.6s;
    transform:scale(1.05);
}
.headshotJulia {
    background-image: url("../img/Headshots/juliabw.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.headshotJulia:hover {
    background-image: url("../img/Headshots/julia2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    position:relative;
    transition:all 0.6s;
    transform:scale(1.05);
}
.headshotShalini {
    background-image: url("../img/Headshots/shalinibw.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.headshotShalini:hover {
    background-image: url("../img/Headshots/shalini2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    position:relative;
    transition:all 0.6s;
    transform:scale(1.05);
}
.headshotJohn {
    background-image: url("../img/Headshots/johnbw.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.headshotJohn:hover {
    background-image: url("../img/Headshots/john2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    position:relative;
    transition:all 0.6s;
    transform:scale(1.05);
}
.headshotRoz {
    background-image: url("../img/Headshots/rosalindbw.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.headshotRoz:hover {
    background-image: url("../img/Headshots/rosalind2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    position:relative;
    transition:all 0.6s;
    transform:scale(1.05);
}
/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
    padding: 0 16px;
    text-overflow: inherit;
}

.row2 {
  width: 100%;
}

/* Clear floats */
.container::after, .row2::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.scrollNext {
    display: block;
    vertical-align: middle;
    text-align: center;
    font-size: 7em;
    color: black;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: 0.2s;
    -ms-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }

.scrollNext:hover {
    -ms-transform: rotate(180deg) translateY(-20px);
    -webkit-transform: rotate(180deg) translateY(-20px);
    transform: rotate(180deg) translateY(-20px);
}


body {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #4AC9E3; }

h1 {
  font-size: 2.369em;
  font-weight: 300;
  margin-bottom: 20px; }

h2 {
  font-size: 1.777em;
  font-weight: 400;
  margin-bottom: 20px; }

h3 {
  font-size: 1.333em;
  font-weight: 400;
  margin-bottom: 10px; }

h4 {
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 10px; }

h5 {
  font-size: 0.85em;
  font-weight: 400;
  margin-bottom: 10px; }

h6 {
  font-size: 0.8em;
  font-weight: 400;
  margin-bottom: 10px; }

#leftSide {
  position: relative;
  top: 0;
  left: 0;
  width: 20%;
  height: 100vh;
  overflow: hidden; }

#rightSide {
  position: absolute;
  top: 0;
  left: 20%;
  width: 80%;
  height: 100%;
  overflow-x: hidden;
  background: #fff; }

.gradient {
  background: #4AC9E3; }


/* ------------------------------------- */
/* Navbar Testing ................... */
/* ------------------------------------- */

.navbarnew {
    width: 100%;
    height: 100%;
    vertical-align: middle; 
    text-align:right;
    padding-top: 70%;
} 

.page-scroll {
    font-size: 24px;
    color:white;
    padding-right:20px;
    text-transform: lowercase;
   
}

.page-scroll:hover {
}


.navbarElement {
    padding-top: 10px;
    border-bottom: 2px dashed rgb(61, 175, 204);
    border-bottom-color: transparent;
    margin-left: 60px;
    
}

.navbarElement:hover{
    border-bottom-color: rgb(61, 175, 204);
    
}

/* ------------------------------------- */
/* Home ................... */
/* ------------------------------------- */
#home, #homeCenter {
  width: 100%;
  height: 100%;
  z-index: 1; }

.h-content {
  position: relative;
  z-index: 0;
  top: 22vh;
  width: 100%;
  padding: 10px 10%;
  color: #fff; }

.h-content-fullwidth {
  position: relative;
  z-index: 0;
  top: 36vh;
  width: 100%;
  padding: 10px 10%;
  color: #fff; }

#homeCenter .h-content {
  text-align: center; }

.main-logo {
  position: absolute;
  top: 4%;
  max-width: 400px;
  left: 15%; }

#homeCenter .main-logo {
  left: calc(50% - 100px); }

.social_icons, #homeCenter .social_icons {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  font-size: 1em;
  padding-left: 10%;
  z-index: 2;
  color: #fff; }
  .social_icons li, #homeCenter .social_icons li {
    display: inline; }
    .social_icons li i, #homeCenter .social_icons li i {
      font-size: 1.4em;
      transition: all .3s;
      display: inline-block;
      padding: 15px; }
      .social_icons li i:hover, #homeCenter .social_icons li i:hover {
        color: #215c68;
        transition: .1s; }

#homeCenter .social_icons {
  text-align: center;
  left: 50%;
  padding: 0;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -o-transform: translate(-50%);
  transform: translate(-50%); }

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
    border:none;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border: transparent;
    outline: transparent;
}


button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* ------------------------------------- */
/* Countdown ................... */
/* ------------------------------------- */
.row .countdown-timer {
  text-align: center;
  display: inline;
}
.countdown-timer * {
  display: inline;
}
.row {
  width: 50%;
  margin: 0 auto;
}
.countdown-timer {
  text-transform: uppercase;
  font-weight: bold; 
  font-size: 160%;
}
#countdown {
  width: 100%;
 
  background: #ADAEB0;
  color: #fff; }
  #countdown > div {
    padding: 0;
    height: 100%;
    display: inline; }
  #countdown .title {
    display: table-cell;
    vertical-align: middle;
    padding: 0 15px; }
    #countdown .title h2 {
      display: table-cell;
      vertical-align: middle; }
  #countdown address {
    margin-top: 10px !important; }
    #countdown address span {
      padding: 0;
      color: #cccccc;
      font-weight: 500;
      display: block;
      font-size: 0.9375em;
      margin-bottom: 10px; }
    #countdown address i {
      font-size: 1.5em;
      padding-right: 10px;
      color: #fff; }

.launch-date {
  display: table-cell;
  vertical-align: middle;
  background: #1d2328;
  text-align: center;
  height: 160px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 33px -6px rgba(0, 0, 0, 0.75);
  -ms-box-shadow: 0px 2px 33px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 33px -6px rgba(0, 0, 0, 0.75);
  -o-box-shadow: 0px 2px 33px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 33px -6px rgba(0, 0, 0, 0.75); }
  .launch-date h2 {
    font-size: 3.5em;
    margin-bottom: -5px;
    margin-top: -20px; }
  .launch-date span {
    color: #fff; }

/* ------------------------------------- */
/* About ................... */
/* ------------------------------------- */
.about {
  width: 100%;
  padding: 10% 8%; }
  .about p {
    color: #666666; }

.faq {
    width: 100%;
  padding: 10% 8%;

   
}
  .faq p {
    color: #666666; }

.service {
  text-align: center;
  margin-top: 50px !important; }
  .service .feature {
    display: inline-block;
    padding: 30px 0;
    background: #f5f5f5;
    -webkit-transition: 0.2s;
    -ms-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    cursor: pointer; }
    .service .feature:hover {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      -moz-transform: translateY(-10px);
      -o-transform: translateY(-10px);
      transform: translateY(-10px);
      background: #eaeaea; }
    .service .feature h6 {
      font-weight: 700;
      margin: 0; }
    .service .feature i {
      font-size: 2.2em; }

/* ------------------------------------- */
/* Pricing ................... */
/* ------------------------------------- */
.signup {
  width: 100%;
  padding: 10% 8%;
  background: #ADAEB0;
  color: #fff; }

.sponsoring {
  width: 100%;
  padding: 10% 10%;
  background: #fff;
  color: black;}
/* ------------------------------------- */
/* Team ................... */
/* ------------------------------------- */
.team {
  width: 100%;
  padding: 10% 8%;
  background: #f5f5f5;
  color: #000; 
  height:auto;
  margin: 0 auto;}
  .team p {
    color: #666666; }

.member {
  padding: 7.5px;
  margin: 20px 0; }
  .member .member-img {
    position: relative;
    overflow: hidden; }
    .member .member-img img {
      margin: 0 auto;
      width: 100%; }
    .member .member-img .member-overlay {
      -webkit-background: linear-gradient(rgba(18, 22, 25, 0.5), #ADAEB0);
      -ms-background: linear-gradient(rgba(18, 22, 25, 0.5), #ADAEB0);
      -moz-background: linear-gradient(rgba(18, 22, 25, 0.5), #ADAEB0);
      -o-background: linear-gradient(rgba(18, 22, 25, 0.5), #ADAEB0);
      background: linear-gradient(rgba(18, 22, 25, 0.5), #ADAEB0);
      position: absolute;
      height: 100%;
      top: 0;
      width: 100%;
      color: #fff;
      overflow: hidden;
      -webkit-transition: 0.3s;
      -ms-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      opacity: 0; }
      .member .member-img .member-overlay .overlay-info {
        position: relative;
        transform: translateY(200%);
        top: 50%;
        width: 100%;
        -webkit-transition: 0.3s;
        -ms-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        text-align: center; }
        .member .member-img .member-overlay .overlay-info h5 {
          font-weight: 600;
          margin-bottom: 0; }
        .member .member-img .member-overlay .overlay-info h6 {
          font-weight: 600;
          color: #4AC9E3; }
        .member .member-img .member-overlay .overlay-info a {
          color: #fff;
          display: inline;
          padding: 5px 10px; }
    .member .member-img:hover .overlay-info {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      -moz-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0); }
  .member .member-details {
    width: 100%;
    position: relative;
    z-index: 4;
    text-align: center;
    padding: 20px 0; }
    .member .member-details h5 {
      font-weight: 700;
      padding: 0;
      margin: 0; }
    .member .member-details h6 {
      font-weight: 500; }
  .member:hover .member-overlay {
    opacity: 1; }
  .member:hover .member-overlay ul {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }

ul.team-list {
  list-style-type: none;
  margin: 0 auto;
  text-align: center;
} 

ul.team-list li {
  display: inline-block;
  margin: 5%;
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
    background-position: center;
    background-size: contain;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

span.text-content {
  font-family: Poppins,'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 13px;
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  left: 0;
  position: absolute;
  top: 0;
  opacity:0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
width: 300px;
  height: 300px;
    background-position: center;
    background-size: contain;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

ul.team-list li:hover span.text-content{
  opacity: 1;
}

.circular {
  width: 300px;
  height: 300px;
    background-position: center;
    background-size: contain;
}

.team{
    padding:75px 0;
}
h6.description{
	font-weight: bold;
	letter-spacing: 2px;
	color: #999;
	border-bottom: 1px solid rgba(0, 0, 0,0.1);
	padding-bottom: 5px;
}
.profile{
	margin-top: 25px;
}
.profile h1{
	font-weight: normal;
	font-size: 20px;
	margin:10px 0 0 0;
}
.profile h2{
	font-size: 14px;
	font-weight: lighter;
	margin-top: 5px;
}
.profile .img-box{
	opacity: 1;
	display: block;
	position: relative;
}
.profile .img-box:after{
	content:"";
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
}
.img-box ul{
	position: absolute;
	z-index: 2;
	bottom: 50px;
	text-align: center;
	width: 100%;
	padding-left: 0px;
	height: 0px;
	margin:0px;
	opacity: 0;
}
.profile .img-box:after, .img-box ul, .img-box ul li{
	-webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.img-box ul i{
	font-size: 20px;
	letter-spacing: 10px;
}
.img-box ul li{
	width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #88C425;
    margin: 2px;
    padding: 5px;
	display: inline-block;
}
.img-box a{
	color:#fff;
}
.img-box:hover:after{
	opacity: 1;
}
.img-box:hover ul{
	opacity: 1;
}
.img-box ul a{
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.img-box a:hover li{
	border-color: #fff;
	color: #88C425;
}
a{
    color:#88C425;
}
a:hover{
    text-decoration:none;
    color:#519548;
}
i.red{
    color:#BC0213;
}


/* ------------------------------------- */
/* Contact Form ................... */
/* ------------------------------------- */



#contact {
  width: 100%;
  padding: 10% calc(8% + 5px);
  background: #f5f5f5;
  color: #000; }
  #contact h2 {
    font-weight: 400; }
  #contact p {
    color: #666666; }


/* ------------------------------------- */
/* Footer ................... */
/* ------------------------------------- */
footer {
  position: relative;
  bottom: 0;
  display: table;
  width: 100%;
  padding: 5%;
  background: #ADAEB0;
  color: #fff; }
  footer p {
    display: table-cell;
    vertical-align: middle;
    font-size: 0.75em;
    font-weight: 500 !important; }
  footer .drag {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 1.2em;
    -webkit-transition: 0.2s;
    -ms-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }


    footer .drag:hover {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      -moz-transform: translateY(-10px);
      -o-transform: translateY(-10px);
      transform: translateY(-10px); }

input:focus {
  outline: none !important; }

textarea:focus {
  outline: none !important; }

button:focus {
  outline: none !important; }

.filled {
  background: #fff;
  color: #4AC9E3;
  font-weight: 700;
  display: inline-block;
  padding: 5px 10px; }

.uppercase {
  text-transform: uppercase; }

li {
  list-style: none; }

ul {
  padding: 0; }

/* Margins */
.mt10 {
  margin-top: 10px; }

.mt20 {
  margin-top: 20px; }

.mt30 {
  margin-top: 30px; }

.mt40 {
  margin-top: 40px; }

.mt50 {
  margin-top: 50px; }

.mt60 {
  margin-top: 60px; }

.mt70 {
  margin-top: 70px; }

.mt80 {
  margin-top: 80px; }

.mt90 {
  margin-top: 90px; }

.mt100 {
  margin-top: 100px; }

.mt120 {
  margin-top: 120px; }

.mt130 {
  margin-top: 130px; }

.mt140 {
  margin-top: 140px; }

.mt150 {
  margin-top: 150px; }

.mt200 {
  margin-top: 200px; }

.mb10 {
  margin-bottom: 10px; }

.mb20 {
  margin-bottom: 20px; }

.mb30 {
  margin-bottom: 30px; }

.mb40 {
  margin-bottom: 40px; }

.mb50 {
  margin-bottom: 50px; }

.mb60 {
  margin-bottom: 60px; }

.mb70 {
  margin-bottom: 70px; }

.mb80 {
  margin-bottom: 80px; }

.mb90 {
  margin-bottom: 90px; }

.mb100 {
  margin-bottom: 100px; }

.mb120 {
  margin-bottom: 120px; }

.mb130 {
  margin-bottom: 130px; }

.mb140 {
  margin-bottom: 140px; }

.mb150 {
  margin-bottom: 150px; }

.mb200 {
  margin-bottom: 200px; }

/* Background img appender Css */
.background-img-holder {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  left: 0; }

.overlay:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(18, 22, 25, 0.4); }

i {
  cursor: pointer; }

/* ------------------------------------- */
/* Bootstrap styles ................... */
/* ------------------------------------- */
.full-height {
  height: 100vh !important; }

.mid-height {
  height: 400px; }

p {
  font-size: .85em;
  font-weight: 500;
  margin-bottom: 20px; }
  p a {
    color: #4AC9E3;
    text-decoration: none; }
    p a:hover {
      color: #215c68; }

a {
  color: #fff;
  text-decoration: none; }
  a:hover {
    color: #fff;
    text-decoration: none; }
  a:visited {
    outline: none !important;
    text-decoration: none; }
  a:focus {
    color: #fff;
    outline: none !important;
    text-decoration: none; }

::-moz-selection {
  color: #fff;
  background: #4AC9E3 !important; }

::selection {
  color: #fff;
  background: #4AC9E3 !important; }

img {
  max-width: 100%;
  vertical-align: middle; }

.ion-heart {
  color: crimson; }

/* ------------------------------------- */
/* Plugin styles ................... */
/* ------------------------------------- */
/* Particles */
#particles-js {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  z-index: -1; }

/* magnificPopup */
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: url("../img/icon-zoom-out.png"), pointer; }

.mfp-title {
  font-size: .75em;
  text-transform: uppercase;
  font-weight: 500; }

/* photoSwipe */
.pswp__ui--fit .pswp__top-bar,
.pswp__ui--fit .pswp__caption {
  background: #ADAEB0; }

.pswp__item {
  cursor: url("../img/icon-zoom-out.png"), pointer; }

.pswp--zoom-allowed .pswp__img {
  cursor: url("../img/icon-zoom.png"), pointer; }

.pswp__button--arrow--left:before, .pswp__button--arrow--right:before {
  content: '';
  top: 35px;
  background-color: #ADAEB0;
  height: 30px;
  width: 32px;
  position: absolute; }

/* ------------------------------------- */
/* 8. Media Queries .................... */
/* ------------------------------------- */
@media only screen and (min-width: 2000px) {
  body {
    font-family: "Raleway", sans-serif;
    font-size: 1.6em;
    line-height: 1.6; }

  .main-logo {
    max-width: 300px; }

  #homeCenter .main-logo {
    left: calc(50% - 100px); }

  .project .item .caption {
    bottom: -4.375em;
    height: 4.375em; }
    .project .item .caption .photo-details {
      padding: 0 0.9375em;
      bottom: 0.625em; }
      .project .item .caption .photo-details span {
        font-size: 0.75em; }
    .project .item .caption .view {
      margin: 1.875em 0.9375em;
      height: 1.875em;
      width: 3.75em;
      line-height: 1.875em;
      font-size: 0.75em; }
  .project .item .close {
    height: 0.625em !important;
    width: 6.25em !important; }
  .project .item:hover .photo-details {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  .project .item:hover .caption {
    -webkit-transform: translateY(-4.375em);
    -ms-transform: translateY(-4.375em);
    -moz-transform: translateY(-4.375em);
    -o-transform: translateY(-4.375em);
    transform: translateY(-4.375em); }

  .portfolio .item .caption .photo-details {
    padding: 0 0.9375em;
    bottom: 0.625em; }
    .portfolio .item .caption .photo-details span {
      font-size: 0.75em;
      font-weight: 500; }

  #subscribe-form .input-email {
    font-size: 1em;
    padding: 0px 20px;
    height: 2.75em; }
  #subscribe-form .input-submit {
    height: 2.75em; }

  #contact_form {
    font-size: 0.875em; }
    #contact_form div {
      padding: 0 0.3125em; }
    #contact_form .input-name, #contact_form .input-email, #contact_form .input-message, #contact_form .submit {
      margin-bottom: 0.625em;
      padding: 0.625em;
      height: 2.8125em; }
    #contact_form .input-message {
      height: 6.25em; }
    #contact_form .submit {
      height: 2.5em; }

  #form-messages {
    padding: 0 0.3125em;
    margin: 0.625em 0; }
    #form-messages .success, #form-messages .error {
      font-size: 0.75em; }

  address {
    margin-top: 1.5625em !important; }
    address span {
      font-size: 1em; }
    address i {
      padding-right: 0.3125em; }

  #countdown .title {
    padding: 0 0.9375em; }
  #countdown address {
    margin-top: 0.625em !important; }
    #countdown address span {
      font-size: 1em;
      margin-bottom: 0.3125em; }
    #countdown address i {
      padding-right: 0.3125em; }

  .launch-date {
    height: 10em; }
    .launch-date h2 {
      margin-bottom: -0.3125em;
      margin-top: -0.3125em; } }
@media only screen and (min-width: 2500px) {
  body {
    font-family: "Raleway", sans-serif;
    font-size: 2em;
    line-height: 1.6; } }
@media only screen and (max-width: 1600px) {
  .instagram_feed li {
    width: 33.33% !important; } }
@media only screen and (max-width: 1024px) {
  #leftSide {
    position: relative;
    top: 0;
    left: 0;
    width: 100%; }

  #rightSide {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

  .project .project_info {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0; }

  .full-height {
    height: 80vh; }

  .mid-height {
    height: 400px; }

  #countdown address {
    padding: 0; } }
@media only screen and (max-width: 768px) {
  body {
    font-family: "Raleway", sans-serif;
    font-size: 1em;
    line-height: 1.6; }

  #contact_form .input-name, #contact_form .input-email, #contact_form .input-message, #contact_form .submit {
    width: 100%; }

  .launch-date {
    height: 140px; }

  address span {
    padding: 5px 0; }

  p {
    font-size: 1em; } }
@media screen and (max-device-width: 740px) and (orientation: landscape) {
  body {
    font-family: "Raleway", sans-serif;
    font-size: 0.75em;
    line-height: 1.6; }

  #leftSide {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; }

  #rightSide {
    position: relative;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background: transparent;
    overflow-x: hidden; }

  .h-content {
    position: relative;
    z-index: 0;
    top: 0;
    width: 100%;
    padding: 10px 10%;
    color: #fff; }

  .main-logo {
    position: relative;
    top: 8%;
    max-width: 140px;
    margin-top: 20px; }

  #homeCenter .main-logo {
    left: calc(50% - 70px); }

  .social_icons, #homeCenter .social_icons {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 1em; }

  #homeCenter .social_icons {
    text-align: center;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%); }

  address span {
    font-size: 14px; }
  address i {
    font-size: 1.2em; }

  #countdown > div {
    padding: 15px 0 !important; } }
@media only screen and (max-width: 480px) {
  body {
    font-family: "Raleway", sans-serif;
    font-size: 0.75em;
    line-height: 1.6; }

  .main-logo {
    max-width: 180px; }

  #homeCenter .main-logo {
    left: calc(50% - 90px); }

  .instagram_feed li {
    width: 50%; }

  .service .feature {
    padding: 15px 0; }

  address span {
    font-size: 1em; }
  address i {
    font-size: 1.2em; }

  #countdown > div {
    padding: 15px 0 !important; } }
@media only screen and (max-width: 320px) {
  body {
    font-family: "Raleway", sans-serif;
    font-size: 0.625em;
    line-height: 1.6; }

  .main-logo {
    max-width: 160px; }

  #homeCenter .main-logo {
    left: calc(50% - 80px); } }

/*# sourceMappingURL=theme-MariBlue.css.map */

/** Navbar **/
#rightSide {
  nav {
    width:100%;
  }
.navbar-default {
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.navbar-default .navbar-header .navbar-brand {
  color: #F05F40;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #eb3812;
}
.navbar-default .navbar-header .navbar-toggle {
  font-weight: 700;
  font-size: 12px;
  color: #222222;
  text-transform: uppercase;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: #222222;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #F05F40;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #F05F40 !important;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
  }
  .navbar-default .navbar-header .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: white;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: white;
  }
  .navbar-default.affix {
    background-color: white;
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    color: #F05F40;
    font-size: 14px;
  }
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #eb3812;
  }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: #222222;
  }
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: #F05F40;
  }
}
}

